{
  "presets": [
    [ "next/babel", {
      "preset-env": {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "ie 11"
          ]
        }
      }
    } ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [ "module-resolver", { "root": [ "./src" ] } ],
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    [ "@babel/plugin-proposal-class-properties", { "loose": true } ]
  ],
  "env": {
    "jesttest": {
      "plugins": [
        "babel-plugin-styled-components",
        [ "module-resolver", { "root": [ "./src" ] } ],
        [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
        [ "@babel/plugin-proposal-class-properties", { "loose": true } ],
        "dynamic-import-node"
      ]
    }
  }
}
