{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "node": "current",
            "browsers": [
              "last 2 versions"
            ]
          }
        }

      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    // "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
