.DS_Store
.fileStorage/
.vscode
.idea
.c9
.env*
!.env.example*
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-project
*.sublime-workspace
browser.config.js

lib-cov
logs
node_modules
npm-debug.log
pids
results
allure-results
package-lock.json

.reaction/config.json

.next/*
src/.next/*
build
/reports

package-lock.json
