# Yarn Config - configured for running inside Docker Compose

# Configure Yarn offline mirror for improved performance.
# https://yarnpkg.com/blog/2016/11/24/offline-mirror/
#
# If you need to ensure clean cached modules follow the guide:
# https://yarnpkg.com/blog/2016/11/24/offline-mirror/#updating-your-package
#
yarn-offline-mirror "/home/node/.cache/yarn-offline-mirror"
yarn-offline-mirror-pruning true

--install.cache-folder /home/node/.cache/yarn
--install.ignore-scripts true
--install.modules-folder /usr/local/src/node_modules
--install.prefer-offline true
